<div>

    <h1>
        <small>Algo así como una mezcla de un CV y una carta de
            presentación para este milenio</small>
    </h1>
    <p>
        Enésima encarnación de mi sitio personal...(Ya perdí la cuenta de cuantas veces armé algo así).<br/>
        Tengo alguna cosa en internet desde antes del 2000.<br/>
        El objetivo de éste site es...por ahora, exponer un poco de información
        profesional/personal sobre mí. Esta es la página principal.<br/>
        En todo momento está en desarrollo. Es más, no debería haberla publicado. Pero bueno, hay que
        empezar.<br/>
        Éste sitio está gentilmente hosteado por
        <a href="http://github.com/" target="_blank">GitHub</a>.
    </p>
    <p>
        Profesionalmente soy un ingeniero en sistemas de información,
        recibido en diciembre del 2007, UTN-FRBA.<br/>
        Tengo el título en mi poder y todo.<br/>
    </p>
    <p>
        Personalmente soy un hombre casado y con dos hijos en excelente estado,
        vivendo en Flores, CABA, Argentina<br/>
    </p>
    <p>Bueno, no hay mucho mas que decir. Pasee un poco por los distintos lugares y verá si tenemos algo en común, o
        si puedo serle útil.</p>
</div>
