<div role="tabpanel" class="tab-pane active" id="bienvenido">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <h1>
        Página personal de Pablo Andrés Grisafi<br> <small>Algo así como una mezcla de un CV y una carta de
          presentación para este milenio</small>
      </h1>
    </div>
  </div>
  <p>
    Quinto intento de tener un sitio personal...y no lo estoy actualizando como corresponde.<br /> El objetivo de este
    site es...por ahora, exponer un poco de información profesional sobre mí. Esta es la página principal.<br /> En
    este momento está absolutamente en desarrollo. Es más, no debería haberla publicado. Pero bueno, hay que empezar.
    Éste sitio está gentilmente hosteado por
    <ui-link url="http://x10hosting.com/">x10hosting</ui-link>
    .
  </p>
  <p>
    ¡Ingeniero en Sistemas de información!<br /> Recibido en diciembre del 2007, UTN-FRBA.<br /> Tengo el título en mi
    poder y todo.<br />
  </p>
  <p>Bueno, no hay mucho mas que decir. Pasee un poco por los distintos lugares y verá si tenemos algo en común, o
    si puedo serle útil.</p>
</div>
