
<div role="tabpanel" class="tab-pane" id="contacto">
  <p>Quizás esta debería ser la página de entrada. Pero imagino que todos los que visiten esta web serán (por ahora
    al menos) gente que me conoce, así que no necesitan saber estos datos.</p>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table table-hover ">
        <tbody>
          <tr>
            <td>Email:</td>
            <td><ui-link url="mailto:pablogrisafi1975@gmail.com">pablogrisafi1975@gmail.com</ui-link></td>
          </tr>
          <tr>
            <td>LinkedIn:</td>
            <td><ui-link href="http://ar.linkedin.com/in/pablogrisafi1975">http://ar.linkedin.com/in/pablogrisafi1975</ui-link></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
  <p>Google tiende a crear una aplicacion de chat por año, así que tuvimos gtalk, hangouts y ahora messenger, y ya
    estoy un poco harto. Así que si se quiere comunicar, un email a gmail es lo mas confiable.</p>
  <p>
    Como curiosidad, puede ver
    <ui-link href="http://www.grifasi-sicilia.com/origininomegrifasi.htm">el origen de mi apellido</ui-link>
    .
  </p>
</div>
