<div id = "contacto">
    <p>Quizás esta debería ser la página de entrada. Pero imagino que todos los que visiten esta web serán (por ahora
        al menos) gente que me conoce, así que no necesitan saber estos datos.</p>

    <table class="pure-table pure-table-horizontal">
        <tbody>
        <tr>
            <td>Email:</td>
            <td><a href="mailto:pablogrisafi1975@gmail.com" target="_blank">pablogrisafi1975@gmail.com</a></td>
        </tr>
        <tr>
            <td>LinkedIn:</td>
            <td><a href="http://ar.linkedin.com/in/pablogrisafi1975" target="_blank">http://ar.linkedin.com/in/pablogrisafi1975</a>
            </td>
        </tr>
        </tbody>
    </table>

    <p>Google tiende a crear una aplicacion de chat por año, así que tuvimos gtalk, hangouts y ahora messenger, y ya
        estoy un poco harto. Así que si se quiere comunicar, un email a gmail es lo mas confiable.</p>
    <p>
        Como curiosidad, puede ver
        <a href="http://www.grifasi-sicilia.com/origininomegrifasi.htm" target="_blank">el origen de mi apellido</a>.
    </p>
</div>
