<div id = "el-pasado">
    <p>
        Antes de que ésta web esté en github, estuvo en <a href="http://x10hosting.com/" target="_blank">x10hosting</a>,
        pero dejaron de
        dar servicio gratis en Argentina...
    </p>
    <p>
        Y antes de tener ésta simpática web armada con boostrap, tuve otra en el mismo host (x10hosting) prácticamente
        igual, pero sin nada de javascript.
        Trataba de hacerla compatible con los limitados browsers que tenían los teléfonos pre-Android/iPhone.
    </p>
    <p>Y antes de eso, otra muy parecida en Google Sites, pero Google dió de baja ese servicio...</p>
    <p>Y antes de eso, otra muy parecida en Google Pages, pero Google dió de baja ese servicio también... (Google es
        poco confiable en estas cosas)</p>
    <p>
        Y antes de eso, otra muy pequeña en Netfirms, que se puede ver aún <a href="#el-pasado" onclick="showNetfirmsDialog();">haciendo
        click aquí</a>
    </p>
    <p>
        Pero mucho antes de eso, en la prehistoria, tenía una web en
        <a href="http://en.wikipedia.org/wiki/GeoCities" target="_blank">GeoCities</a>
        (tuve que linkear a la wikipedia por un tema de edad, vieron), que yo creía perdida en la noche de los tiempos.
        Pero
        encontré un backup y lo restauré y ahora pueden disfrutar ese monstruo en todo su esplendor.
    </p>
    <div>
        <button class="button-error pure-button" onclick="showGeocitiesDialog()">
            Atención: Riesgo de severo daño ocular si hace click.<br/>Prosiga por su cuenta y riesgo
        </button>
    </div>
    <dialog id="netfirms-dialog">
        <iframe src="oldwebs/netfirms/netfirms.html" width="640" height="480"></iframe>
        <button onclick="document.getElementById('netfirms-dialog').close()">Cerrar</button>
    </dialog>
    <dialog id="geocities-dialog">
        <iframe src="oldwebs/geocities/zzgeo-index.html" width="800" height="600"></iframe>
        <button onclick="document.getElementById('geocities-dialog').close()">Cerrar</button>
    </dialog>
</div>
<script>
    function showNetfirmsDialog(){
        const netfirmsDialog = document.getElementById('netfirms-dialog');
        netfirmsDialog.showModal();
    }
    function showGeocitiesDialog(){
        const geocitiesDialog = document.getElementById('geocities-dialog');
        geocitiesDialog.showModal();
    }
</script>
