
<div role="tabpanel" class="tab-pane" id="experiencia">
  <p>
    YYYY Si usted es mi actual o próximo empleador, pase por alto por favor el trato poco formal.  XXX<br /> Si le interesa,
    puede descargar mi CV actualizado (en inglés y/o castellano) aquí. Ambos son breves, una página y nada más:
  </p>
  <ul>
    <li><ui-link
        url="https://docs.google.com/document/d/1kQLnP_UDRNBjn7cI-sdH9BTj6ZaRkdYCLepY42wc_OI/edit?hl=en_US">Curriculum
      Vitae en español</ui-link></li>
    <li><ui-link
        url="https://docs.google.com/document/d/1DD0mpnDjUR4OXq-5Fg58PlakDysrKjzqJPyAIpoO5qY/edit?hl=en_US">Curriculum
      Vitae en inglés</ui-link></li>
  </ul>
  <p>
    Resumiendo muy brevemente, mi nombre es Pablo Grisafi, soy egresado de la
    <ui-link url="http://www.frba.utn.edu.ar/">Universidad Tecnológica Nacional, (Facultad Regional Buenos
    Aires)</ui-link>
    con el título de Ingeniero en Sistemas de Información.<br /> He trabajado realizando análisis y desarrollo en
    lenguaje
    <ui-link url="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Java </ui-link>
    de aplicaciones Web, dentro de frameworks estandard de mercado, como
    <ui-link url="http://www.springsource.org/">Spring</ui-link>
    /
    <ui-link url="http://struts.apache.org/">Struts</ui-link>
    /
    <ui-link url="http://struts.apache.org/2.x/index.html">Strus2</ui-link>
    /
    <ui-link url="http://www.hibernate.org/">Hibernate</ui-link>
    /
    <ui-link url="http://www.oracle.com/technetwork/java/javaee/jsp/index.html" target="_blank">JSP</ui-link>
    , y en también en la especificación
    <ui-link href="http://www.oracle.com/technetwork/java/javame/index.html">JME </ui-link>
    para celulares.<br /> También he ganado experiencia realizando análisis y desarrollo en lenguaje
    <ui-link url="http://msdn.microsoft.com/en-us/vcsharp/aa336809.aspx">C#</ui-link>
    , dentro del entorno .Net para escritorio y también del entorno
    <ui-link href="http://msdn.microsoft.com/en-us/netframework/aa497273.aspx">Compact Framework</ui-link>
    para aplicaciones móviles bajo WindowsCE y Pocket PC.
  </p>
  <p>Podría hacerse la siguiente matriz de mi experiencia como programador:</p>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Lenguaje/Entorno</th>
            <th>Escritorio</th>
            <th>Web</th>
            <th>Movil</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Java</td>
            <td>Si, pero poco</td>
            <td>Si</td>
            <td>Si, pero en la prehistoria</td>
          </tr>
          <tr>
            <td>C#</td>
            <td>Si</td>
            <td>No</td>
            <td>Si</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
  <p>
    O sea, que me falta hacer algo en ASP.NET. Además tengo que decir que me bajé del desarrollo de aplicaciones móviles
    justo cuando se ponía interesante: No llegué a hacer desarrollo para iPhone ni para Android. Espero corregir eso
    alguna vez.<br /> ¡Ah, cierto! También hice algo de
    <ui-link url="http://www.php.net">PHP</ui-link>
    , pero no es lo mío. Prefiero los sistemas más estructurados. Aunque tiene su encanto, lo reconozco.
  </p>
  <div class="text-center extra-space-bottom extra-space-top">
    Ésta es mi foto profesional:<br /> <img alt="Foto profesional" src="assets/img/foto-formal.jpg" /><br /> Me faltó
    arreglarme la corbata, pero yo me contrataría
  </div>
  <p>
    Ahora estoy trabajando en
    <ui-link href="http://www.despegar.com">Despegar.com</ui-link>
    como líder de proyecto. Estoy trabajando en un conjunto de programas que reconcilian ingresos y egresos de dinero,
    usando
    <ui-link url="http://java.sun.com/javase/downloads/index.jsp">Java</ui-link>
    ,
    <ui-link url="http://projects.spring.io/spring-framework/">Spring</ui-link>
    y
    <ui-link url="http://www.mysql.com/">MySQL</ui-link>
  </p>
  <p>
    Antes trabajaba en
    <ui-link url="http://www.thewarrantygroup.com">The Warranty Group</ui-link>
    a través de la consultora
    <ui-link url="http://www.progres.com.ar">Progres</ui-link>
    . Trabajaba en un conjunto de aplicaciones desarrolladas usando portlets, con la ayuda de
    <ui-link url="http://static.springsource.org/spring/docs/2.0.8/reference/portlet.html">Spring-MVC-Portlet</ui-link>
    , que corren sobre
    <ui-link url="http://www.liferay.com">Liferay</ui-link>
    , conectándose a bases de datos MS SQLServer y AS400.
  </p>
  <p>
    Y aún antes trabajaba para
    <ui-link url="http://www.globant.com">Globant</ui-link>
    (si no los conocen, no están en el rubro) programando en Java para
    <ui-link url="http://www.tdameritrade.com/welcome1.html">TDAmeritrade</ui-link>
    , que es una empresa que permite comprar y vender acciones vía Internet. Así que trabajaba bajo estrictísimas
    condiciones de seguridad. ¡Me pidieron un certificado de antecedentes y todo!(Y vergonzosamente debo reconocer que
    mi prontuario está vacío)
  </p>
  <p>
    Y antes de eso trabajaba para
    <ui-link url="http://www.networksolutions.com/">NetworkSolutions</ui-link>
    , una empresa verdaderamente pionera en internet: ¡Fueron los primeros vendedores de nombres de dominio!
    Desarrollaba diversos componentes de uso interno de la empresa, principalmente un sistema de comunicación con los
    clientes, en
    <ui-link url="http://java.sun.com/javase/downloads/index.jsp">Java</ui-link>
    .
  </p>
  <p>
    Más atrás en el tiempo trabajé para
    <ui-link url="http://www.neoris.com.ar/">Neoris</ui-link>
    con el título de SWE / Sr. Consultant, en un producto llamado
    <ui-link url="http://www.neoris.com.ar/EN/expertise/activesuite/activesuite.html">ActiveSuite</ui-link>
    que es sistema completo de gestión de logística. Se conecta a
    <ui-link href="http://www.sap.com/index.epx">SAP</ui-link>
    y gestiona envíos, viajes, camiones, etcétera. Yo hice la parte móvil, es decir, el programa que el camionero se
    lleva en su Handheld o Smartphone, más varias herramientas de prueba internas y una serie de componentes en C# para
    manejar documentos
    <ui-link url="http://en.wikipedia.org/wiki/Electronic_Data_Interchange">EDI</ui-link>
    /
    <ui-link url="https://www.sdn.sap.com/irj/sdn/ale">IDOC</ui-link>
  </p>
  <p>
    Y todavía más atrás trabajé para
    <ui-link url="http://www.moviltek.com/">Moviltek</ui-link>
    , una empresa de software que se dedica a realizar aplicaciones web y aplicaciones para dispositivos móviles.
  </p>
</div>
