
<div>
  <p>
    Si usted es mi actual o próximo empleador, pase por alto por favor el trato poco formal.<br /> Si le interesa,
    puede descargar mi CV actualizado (en inglés y/o castellano) aquí. Ambos son breves, una página y nada más:
  </p>
  <ul>
    <li><a
        href="https://docs.google.com/document/d/1kQLnP_UDRNBjn7cI-sdH9BTj6ZaRkdYCLepY42wc_OI/edit?hl=en_US">Curriculum
      Vitae en español</a></li>
    <li><a
        href="https://docs.google.com/document/d/1DD0mpnDjUR4OXq-5Fg58PlakDysrKjzqJPyAIpoO5qY/edit?hl=en_US">Curriculum
      Vitae en inglés</a></li>
  </ul>
  <p>
    Resumiendo muy brevemente, mi nombre es Pablo Grisafi, soy egresado de la
    <a href="http://www.frba.utn.edu.ar/">Universidad Tecnológica Nacional, (Facultad Regional Buenos
    Aires)</a>
    con el título de Ingeniero en Sistemas de Información.<br /> He trabajado realizando análisis y desarrollo en
    lenguaje Java de aplicaciones Web, usando frameworks y librerías estandard de mercado, como
    Spring o Hibernate.
    y también en cosas mas raras, como SparkJava, Google Guice, Akka... En general me las arreglo.
    </p>
  <p>
    En el pasado remoto trabajé con JME (java para celulares no inteligentes), C# para escritorio y
    para aplicaciones móviles bajo WindowsCE y Pocket PC, y hasta hice cosas en PHP.
  </p>

  <div>
    Ésta es mi foto profesional:<br /> <img alt="Foto profesional" src="img/foto-formal.jpg" /><br /> Me faltó
    arreglarme la corbata, pero yo me contrataría
  </div>
  <p>
    Ahora estoy trabajando en
    <a href="http://www.despegar.com.ar" target="_blank">Despegar.com</a>
    como Staff, colaborando con el desarrollo de el agente de inteligencia artifical
    <a href="http://www.despegar.com.ar/sofia" target="_blank">Sofia</a>
    usando Java, Spring, Hibernate y también Scala, Akka.
  </p>
  <p>
    Antes de eso también estaba en Despegar, pero trabajaba en un conjunto de programas que
    reconcilian ingresos y egresos de dinero, usando Java, Spring, Hibernate, React, TypeScript.
  </p>
  <p>
    Llevo tanto tiempo en Despegar que no merece la pena mencionar el resto, para eso está el CV.
  </p>
</div>
