
<div role="tabpanel" class="tab-pane" id="presencia-web">
  <p>
    Aquí hay una especie de resumen de mis actividades en Internet.<br />Ésto es lo que a mí me gustaría que apareciera
    si me busco en google. Desgraciadamente, mi pasado me condena, como a todos, y hay por ahí más de una página web en
    la cual figura mi nombre, que quisiera que fuera borrada de la memoria universal. O al menos del cache de google.
  </p>
  Primero que nada, mis proyectos open source, de los cuales ya hablé en la sección <a href="#proyectos">Proyectos</a>
  , pero vuelvo a mencionar brevemente aquí:
  <ul class="presencelist">
    <li><ui-link url="https://github.com/pablogrisafi1975/bignumutils/">BigNumUtils </ui-link> (DSL para BigDecimal
      y BigInteger en Java)</li>
    <li><ui-link url="https://github.com/pablogrisafi1975/powermock-legacy/">powermock-legacy</ui-link> (Un retro
      fork de powermock que permite correrlo en java 1.4)</li>
    <li><ui-link url="https://github.com/pablogrisafi1975/loderunner-fork/">loderunner-fork</ui-link> (Un fork del
      LodeRunner para j2me de Fabien Gigante con algunas mejoras)</li>
  </ul>
  Después, un artículo que logré publicar en
  <ui-link url="http://www.codeproject.com">CodeProject</ui-link>
  que me lo han calificado bastante bien:
  <ul class="presencelist">
    <li><ui-link href="http://www.codeproject.com/KB/cs/AvoidingInvokeRequired.aspx">AvoidingInvokeRequired</ui-link>
      (Como evitar preguntar <code class="text-primary">if (InvokeRequired)</code> a cada rato en una GUI multithread en
      C#)</li>
  </ul>
  Ésto es extaordinario: me animé y mandé un mailcito a la lista de correo de lambda-dev donde se estaba desarrollando
  java8, con closures. Mandé una sugerencia menor
  <ui-link url="http://mail.openjdk.java.net/pipermail/lambda-dev/2012-June/005012.html"> que pueden ver aquí</ui-link>
  y Brian Goetz, el hombre a cargo del asunto, me respondió
  <ui-link url="http://mail.openjdk.java.net/pipermail/lambda-dev/2012-June/005013.html">Good suggestion.
  We'll take a look. </ui-link>
  <br /> Así que si el día de mañana están programando en java, y pueden escribir a.isGreaterThan(b) en vez de
  a.compareTo(b) &gt; 0, es gracias a mí!(Igual no llegó a Java8, ufa.)<br /> <br /> Además, mis perfiles en redes
  laborales, de los cuales ya hablé en la sección <a href="#redes-sociales">Redes Sociales</a> , pero vuelvo a
  mencionar brevemente aquí:
  <ul class="presencelist">
    <li><ui-link url="http://www.linkedin.com/in/pablogrisafi1975">Perfil en LinkedIn</ui-link></li>
    <li><ui-link href="http://careers.stackoverflow.com/pablogrisafi1975">Perfil en
      careers.stackoverflow</ui-link></li>
  </ul>
  Me gusta entrar a
  <ui-link href="http://stackoverflow.com">StackOverflow</ui-link>
  y respondo cada tanto algo, es decir, cuando se me ocurre la respuesta
  <ul class="presencelist">
    <li><ui-link href="http://stackoverflow.com/users/254307/pablo-grisafi">Perfil en StackOverflow</ui-link></li>
  </ul>
  <div class="text-center">
    ¡Y ya tengo mi flair y todo!<br />
    <div id="flair">
      <ui-link href="http://stackoverflow.com/users/254307/pablo-grisafi"> <img
        src="http://stackoverflow.com/users/flair/254307.png" width="208" height="58"
        alt="profile for Pablo Grisafi at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
        title="profile for Pablo Grisafi at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
      </ui-link>
    </div>
  </div>
</div>
