
<div role="tabpanel" class="tab-pane" id="redes-sociales">
  Las que si
  <div class="row">
    <ui-social-yes url="http://ar.linkedin.com/in/pablogrisafi1975" icon-src="assets/img/linkedin.png" icon-alt="linkedin">
    Me parece que es la red laboral más importante y de hecho creo que conseguí al menos un trabajo gracias a ellos. Es
    la que siempre tengo actualizada, más o menos. </ui-social-yes>
    <ui-social-yes url="http://careers.stackoverflow.com/pablogrisafi1975" icon-src="assets/img/careers.stackoverflow.png"
      icon-alt="careers.stackoverflow"> Cuando llegué a los 576 puntos en StackOverflow me mandaron un
    mail diciendo "We're impressed by your java tag answers on Stack Overflow. In recognition of your generous spirit,
    we'd like to invite you to create a professional profile on Stack Overflow Careers 2.0." ¿Cómo puedo decirle que no
    a Joel Spolsky y Jeff Atwood? </ui-social-yes>
  </div>
  Las que no
  <div class="row">
    <ui-social-no icon-src="assets/img/facebook.png" icon-alt="facebook"> Es demasiado social para mi gusto, ya
    soy un hombre grande, felizmente casado, padre de familia. </ui-social-no>
    <ui-social-no icon-src="assets/img/googleplus.png" icon-alt="google plus"> ¿Si no tengo el original, por que
    voy a tener la imitación? </ui-social-no>
    <ui-social-no icon-src="assets/img/twitter.png" icon-alt="twitter"> ¿140 caracteres? ¿Quién puede escribir
    tanto? </ui-social-no>
  </div>
  <div class="row">
    <ui-social-no icon-src="assets/img/tinder.png" icon-alt="tinder"> Dije <i>casado</i>. </ui-social-no>
    <ui-social-no icon-src="assets/img/orkut.png" icon-alt="orkut"> No soy brasileño (pero que la probé alguna
    vez). </ui-social-no>
    <ui-social-no icon-src="assets/img/googlebuzz.png" icon-alt="Google Buzz"> ¿Alguien recuerda esto? </ui-social-no>
  </div>
  <div class="row">
    <ui-social-no icon-src="assets/img/googlewave.png" icon-alt="Google Wave"> ¿Y esto? (Yo la usé en
    Globant...) </ui-social-no>
    <ui-social-no icon-src="assets/img/myspace.png" icon-alt="MySpace"> No soy músico. </ui-social-no>
    <ui-social-no icon-src="assets/img/hi5.png" icon-alt="Hi5"> Soy mayor de 12 años. </ui-social-no>
  </div>
  <div class="row">
    <ui-social-no icon-src="assets/img/secondlife.png" icon-alt="Second Life"> ¿Todavía existe esto? <ui-link
      url="http://secondlife.com/">Parece que si</ui-link>, por algun motivo </ui-social-no>
  </div>
</div>
