<div id="redes-sociales">
    <h2>Las que si</h2>
    <div>
    <span> <a href="http://ar.linkedin.com/in/pablogrisafi1975" target="_blank"><img alt="linkedin"
                                                                                     src="img/linkedin.png"></a>
    Me parece que es la red laboral más importante y de hecho creo que conseguí al menos un trabajo gracias a ellos. Es
    la que siempre tengo actualizada, más o menos. </span>

    </div>
    <h2>Las que no</h2>
    <div>
        <span> <img alt="careers.stackoverflow"
                    src="img/careers.stackoverflow.png">¡En ésta yo estaba y la dieron de baja!</span>
        <span> <img alt="facebook" src="img/facebook.png"> Es demasiado social para mi gusto, ya
    soy un hombre grande, felizmente casado, padre de familia. </span>
        <span> <img alt="google plus" src="img/googleplus.png"> ¿Si no tengo el original, por que
    voy a tener la imitación? </span>
        <span> <img alt="twitter" src="img/twitter.png"> ¿140 caracteres? ¿Quién puede escribir
    tanto? </span>

        <span> <img alt="tinder" src="img/tinder.png"> Dije <i>casado</i>. </span>
        <span> <img alt="tiktok" src="img/tiktok.png"> No logro entender el objetivo de esto. ¿Es youtuve para gente con problema de atención?</span>
        <span> <img alt="instagram" src="img/instagram.png"> ¿Ahora somos todos fotógrafos? ¿Ahora todos quieren compartir fotos que sacaron en las vacaciones?¿Somos todos abuelos? </span>
        <span> <img alt="pinterest" src="img/pinterest.jpg"> ¿Ahora somos todos fotógrafos de nuevo? </span>

        <span> <img alt="orkut" src="img/orkut.png"> No soy brasileño (pero que la probé alguna
    vez). </span>
        <span> <img alt="Google Buzz" src="img/googlebuzz.png"> ¿Alguien recuerda esto? </span>

        <span> <img alt="Google Wave" src="img/googlewave.png"> ¿Y esto? (Yo la usé en
    Globant...) </span>
        <span> <img alt="MySpace" src="img/myspace.png"> No soy músico. </span>
        <span> <img alt="Hi5" src="img/hi5.png"> Soy mayor de 12 años. </span>

        <span> <img alt="Second Life" src="img/secondlife.png"> ¿Todavía existe esto? <ui-link
                url="http://secondlife.com/">Parece que si</ui-link>, por algun motivo </span>
    </div>
</div>
